[submodule "fluid"]
	path = fluid
	url = https://github.com/lirios/fluid.git
[submodule "material-design-icons"]
	path = material-design-icons
	url = https://github.com/google/material-design-icons.git
