#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=QuickCurver
Exec=QuickCurver
TryExec=QuickCurver
Terminal=false
Categories=Game;
Icon=xorg
