#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=QuickCurver
Comment=A Qt implementation of Curve Fever
Exec=quickcurver
Terminal=false
Categories=Game;
Icon=quickcurver
